<ion-tabs>

  <ion-tab tab="top-news">
    <ion-router-outlet name="top-news"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="headlines">
    <ion-router-outlet name="headlines"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="sources">
    <ion-router-outlet name="sources"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="favorites">
    <ion-router-outlet name="favorites"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="settings">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="top-news" href="/tabs/(top-news:top-news)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Top News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="headlines" href="/tabs/(headlines:headlines)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sources" href="/tabs/(sources:sources)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Sources</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="favorites" href="/tabs/(favorites:favorites)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings" href="/tabs/(settings:settings)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
